* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    perspective: 1000px;
}

.intro {
    height: 100vh;
}

.intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.intro h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 70px;
    color: #fb8b82;
    transform: translate(-50%, -50%);
}

#section1 {
    /*height: 100vh;*/
    height: 50vh;
    color: black;
}

#section1 h1 {
    padding-top: 100px;
    text-align: center;
    font-size: 80px;
}

#section3 h1 {
    font-size: 60px;
}

/*Section 2*/
#section2 .title2 h1,
#section2 .description2 h3,
#section2 .button2 button,
#section2 .truck-image img {
    transition: all 1s ease-in;
}

#section2 .card2 {
    /*min-height: 40vh;*/
    transform-style: preserve-3d;
}

#section2 .card2 .truck-image,
#section3 .card3 .truck-image {
    min-height: 40vh;
}

#section3 .card3 {
    /*min-height: 40vh;*/
    transform-style: preserve-3d;
}

/*Section 3*/
#section3 .card3 .title3 h1,
#section3 .card3 .description3 h3,
#section3 .card3 .button3 button,
#section3 .card3 .truck-image img {
    transition: all 1s ease-in;
}

.truck-image {
  transform: scale(1);
  transition: transform .5s;
}
